*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {  
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-container {
    padding: 20px;
    background-color: black;
    box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: #97D9E1 1px solid;
    opacity: 0.8;
}
.form-container h2{
    color: green;
}
.result {
    margin-top: 20px;
    font-size: 18px;
}
.btn-primary:hover {
    border: none;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}


.form-label{
    color: white;
}